.taskslite-task {
	--taskslite-muted: var(--text-muted);
}

.taskslite-task[data-task-status-type="DONE"] .taskslite-description,
.taskslite-task[data-task-status-type="CANCELLED"] .taskslite-description {
	color: var(--text-muted);
	text-decoration: line-through;
}

.taskslite-task[data-task-status-type="IN_PROGRESS"] .taskslite-description {
	color: var(--text-accent);
}

.taskslite-metadata {
	color: var(--taskslite-muted);
	font-size: 0.9em;
}

.taskslite-suggest-item {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.taskslite-suggest-token {
	min-width: 2.5rem;
	color: var(--text-accent);
}
